# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environments
.env
.venv
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Data you don't want on GitHub (optional)
data/raw/*
data/processed/*

